/*International Teams*/
.belgica{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4717.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.francia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4481.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.brasil{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4748.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.inglaterra{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4713.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.uruguay{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4725.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.croacia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4715.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.portugal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4704.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.espana{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4698.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.argentina{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4819.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.colombia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4820.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mexico{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4781.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.suiza{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4699.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.italia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4707.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.holanda{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4705.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.alemania{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4711.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.dinamarca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4476.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.chile{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4754.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.suecia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4688.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.polonia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4703.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.senegal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4739.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.peru{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4790.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.estadosunidos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4724.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.gales{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4702.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.ucrania{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4701.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.venezuela{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4722.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.austria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4718.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tunez{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4729.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.japon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4770.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.turquia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4700.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.serbia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6355.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nigeria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4785.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.eslovaquia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4697.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.iran{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4766.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.irlanda{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4693.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.argelia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4691.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.irlandadelnorte{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4786.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.rumania{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4477.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.rusia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4694.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.islandia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4708.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.coreadelsur{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4735.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.paraguay{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4789.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.australia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4741.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.marruecos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4778.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.noruega{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4475.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.republicacheca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4714.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.costarica{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4756.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.ghana{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4764.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.jamaica{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4769.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bosnia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4479.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.escocia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4695.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.egipto{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4758.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.hungria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4709.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.camerun{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4751.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.grecia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4710.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.qatar{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4792.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.congo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4823.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mali{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4831.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.finlandia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4712.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.burkina{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4749.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bulgaria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4716.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.costademarfil{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4768.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.honduras{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4827.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.ecuador{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4757.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.montenegro{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7139.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.eslovenia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4484.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.albania{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4690.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.arabiasaudi{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4834.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.macedoniadelnorte{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4777.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.elsalvador{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4825.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.irak{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4767.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.emiratos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4727.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sudafrica{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4736.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.canada{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4752.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.guinea{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4826.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bolivia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4746.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.china{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4755.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.uganda{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4726.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.capeverde{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4753.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.siria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4731.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.curazao{
    background-image: url(https://www.sofascore.com/images/team-logo/football_55827.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.panama{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5164.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.oman{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4787.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.gabon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4761.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.benin{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4744.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.uzbekistan{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4723.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.haiti{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7229.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bielorrusia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4743.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.zambia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4720.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.libano{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4774.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.congo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_8040.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.georgia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4763.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.madagascar{
    background-image: url(https://www.sofascore.com/images/team-logo/football_8035.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.israel{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4480.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.vietnam{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7050.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.chipre{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4482.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.kirguistan{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7930.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.jordania{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4771.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.luxemburgo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4478.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.barein{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5161.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mauritania{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4779.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.libia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4775.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.armenia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4740.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.palestina{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4788.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.estonia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4759.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.trinidadytobago{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_5162.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mozambique{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4783.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.kenia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4773.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.india{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4828.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.republicaafricana{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23470.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.feroe{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4760.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.zimbaque{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4719.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.niger{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8031.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tailandia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4730.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.azerbaiyan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4742.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.kosovo{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_154426.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.corealdenorte{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_5369.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.namibia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4832.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sierraleona{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4737.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.guineabisau{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23478.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.kazajistan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4772.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.taykistan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23488.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nuevazelanda{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4784.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.malaui{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8043.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.angola{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4692.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.filipinas{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4791.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.togo{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4836.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.antiguaybarbuda{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21805.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sudan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4734.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.turkmenistan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4728.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.guatemala{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_5163.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.ruanda{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8037.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.lituania{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4776.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.comoras{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23494.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tanzania{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4835.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.andorra{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4818.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.birmania{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23484.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.letonia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4706.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.taipei{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_5937.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.lesoto{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8033.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sancristobal{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21819.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.surinam{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21822.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.islassalomon{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23471.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.hongkong{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4765.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.yemen{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4721.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.guineaecuatorial{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8032.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.etiopia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8036.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.kuwait{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_5368.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.botswana{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4747.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.afganistan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4689.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.burundi{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4750.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nicaragua{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21817.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.liberia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8034.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.eswatini{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4733.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.malasia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_6912.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.maldivas{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_6911.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nuevaceledonia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8045.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.singapur{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4738.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.republicadominicana{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21813.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.gambia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4762.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.grenada{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21814.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tahiti{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23477.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.barbados{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21808.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.fiyi{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8044.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.vanatu{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8046.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.papua{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23495.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.guyana{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_22113.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sanvicente{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21821.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.islasbermudas{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4745.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sudandelsur{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_88508.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.belice{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21809.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nepal{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23489.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mauricio{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4780.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.camboya{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_7929.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.indonesia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4829.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.moldavia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4782.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.santalucia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21820.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.chad{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8039.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.puertorico{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21818.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cuba{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4824.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.liechtensein{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4830.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.saotome{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_33813.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.macau{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23492.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.montserrat{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21815.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.yibuti{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8042.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.dominica{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21812.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.malta{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4483.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bangladesh{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_6080.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.laos{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23486.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bhutan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_191564.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mongolia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23496.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.brunei{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23491.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.americansamoa{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23476.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.islascaiman{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21811.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.samoa{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23473.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bahamas{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21807.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.easttimor{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23497.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.gibraltar{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_129264.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.somalia{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23472.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.guam{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23493.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.aruba{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21806.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.pakistan{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_6081.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.seychelles{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8038.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.turks{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21823.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tonga{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23474.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.eritrea{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_8041.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.srilanka{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_23487.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.usvirginislands{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21803.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.ukvirginislands{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21810.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sanmarino{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_4833.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.anguilla{
    background-image: url(https://www.sofascore.com/images/team-logo/futbol_21804.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
