.argentinos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3216.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.flamengo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5981.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.velez{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3208.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.barcelona{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5250.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cerro{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5991.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.fluminense{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1961.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bolivar{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7059.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tigre{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7628.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.wilstermann{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7878.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.paranaense{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1967.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.penarol{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3227.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.colocolo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3155.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.river{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3211.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.saopaulo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1981.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.quito{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5257.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.binacional{
    background-image: url(https://www.sofascore.com/images/team-logo/football_275839.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.internacional{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1966.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.gremio{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5926.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cali{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6102.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.catolica{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3151.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.racing{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3215.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.palmeiras{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1963.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.defensa{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36839.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.lima{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2311.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.santos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1968.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.olimpia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5997.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.delfin{
    background-image: url(https://www.sofascore.com/images/team-logo/football_213638.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.justicia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36839.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.libertad{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5996.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.boca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3202.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}

.caracas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6230.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}

.mineiro{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1977.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
