/* LIGAMX */
.america{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1939.png);
    
    background-repeat: no-repeat;    
}
.tigres{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1940.png);
    
    background-repeat: no-repeat;    
}
.pumas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1933.png);
    
    background-repeat: no-repeat;    
}
.cruzazul{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1947.png);
    
    background-repeat: no-repeat;    
}
.puebla{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1941.png);
    
    background-repeat: no-repeat;    
}
.pachuca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1936.png);
    
    background-repeat: no-repeat;    
}
.leon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36534.png);
    
    background-repeat: no-repeat;    
}
.toluca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1931.png);
    
    background-repeat: no-repeat;    
}
.sanluis{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1950.png);
    
    background-repeat: no-repeat;    
}
.monterrey{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1932.png);
    
    background-repeat: no-repeat;    
}
.juarez{
    background-image: url(https://www.sofascore.com/images/team-logo/football_201624.png);
    
    background-repeat: no-repeat;    
}
.queretaro{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1951.png);
    
    background-repeat: no-repeat;    
}
.guadalajara{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1938.png);
    
    background-repeat: no-repeat;    
}
.santoslaguna{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1948.png);
    
    background-repeat: no-repeat;    
}
.mazatlan{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1946.png);
    
    background-repeat: no-repeat;    
}
.necaxa{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1944.png);
    
    background-repeat: no-repeat;    
}
.tijuana{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36525.png);
    
    background-repeat: no-repeat;    
}
.atlas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1949.png);
    
    background-repeat: no-repeat;    
}