/*MLS*/
.columbus{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2504.png);
    
    background-repeat: no-repeat;    
}
.kansas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2509.png);
    
    background-repeat: no-repeat;    
}
.minnesota{
    background-image: url(https://www.sofascore.com/images/team-logo/football_41618.png);
    
    background-repeat: no-repeat;    
}
.portland{
    background-image: url(https://www.sofascore.com/images/team-logo/football_22007.png);
    
    background-repeat: no-repeat;    
}
.lafc{
    background-image: url(https://www.sofascore.com/images/team-logo/football_274650.png);
    
    background-repeat: no-repeat;    
}
.toronto{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7080.png);
    
    background-repeat: no-repeat;    
}
.seattle{
    background-image: url(https://www.sofascore.com/images/team-logo/football_22009.png);
    
    background-repeat: no-repeat;    
}
.orlando{
    background-image: url(https://www.sofascore.com/images/team-logo/football_52237.png);
    
    background-repeat: no-repeat;    
}
.sanjose{
    background-image: url(https://www.sofascore.com/images/team-logo/football_21825.png);
    
    background-repeat: no-repeat;    
}
.philadelphia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_39833.png);
    
    background-repeat: no-repeat;    
}
.montreal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_22006.png);
    
    background-repeat: no-repeat;    
}
.colorado{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2510.png);
    
    background-repeat: no-repeat;    
}
.nyrb{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2506.png);
    
    background-repeat: no-repeat;    
}
.atlanta{
    background-image: url(https://www.sofascore.com/images/team-logo/football_243211.png);
    
    background-repeat: no-repeat;    
}
.vancouver{
    background-image: url(https://www.sofascore.com/images/team-logo/football_22010.png);
    
    background-repeat: no-repeat;    
}
.cincinnati{
    background-image: url(https://www.sofascore.com/images/team-logo/football_215167.png);
    
    background-repeat: no-repeat;    
}
.saltlake{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5133.png);
    
    background-repeat: no-repeat;    
}
.newengland{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2511.png);
    
    background-repeat: no-repeat;    
}
.dallas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2512.png);
    
    background-repeat: no-repeat;    
}
.dcunited{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2502.png);
    
    background-repeat: no-repeat;    
}
.nashville{
    background-image: url(https://www.sofascore.com/images/team-logo/football_337612.png);
    
    background-repeat: no-repeat;    
}
.chicago{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2505.png);
    
    background-repeat: no-repeat;    
}
.nycfc{
    background-image: url(https://www.sofascore.com/images/team-logo/football_187643.png);
    
    background-repeat: no-repeat;    
}
.houston{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2508.png);
    
    background-repeat: no-repeat;    
}
.lagalaxy{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2513.png);
    
    background-repeat: no-repeat;    
}
.intermiami{
    background-image: url(https://www.sofascore.com/images/team-logo/football_337602.png);
    
    background-repeat: no-repeat;    
}
.austin{
    background-image: url(https://api.sofascore.com/api/v1/team/377973/image);
    
    background-repeat: no-repeat;    
}