/*PREMIER LEAGUE*/
.brentford{
    background-image: url(https://www.sofascore.com/images/team-logo/football_50.png);
    
    background-repeat: no-repeat;    
}
.leeds{
    background-image: url(https://www.sofascore.com/images/team-logo/football_34.png);
    
    background-repeat: no-repeat;    
}
.liverpool{
    background-image: url(https://www.sofascore.com/images/team-logo/football_44.png);
    
    background-repeat: no-repeat;    
}
.city{
    background-image: url(https://www.sofascore.com/images/team-logo/football_17.png);
    
    background-repeat: no-repeat;    
}
.united{
    background-image: url(https://www.sofascore.com/images/team-logo/football_35.png);
    
    background-repeat: no-repeat;    
}
.chelsea{
    background-image: url(https://www.sofascore.com/images/team-logo/football_38.png);
    
    background-repeat: no-repeat;    
}
.leicester{
    background-image: url(https://www.sofascore.com/images/team-logo/football_31.png);
    
    background-repeat: no-repeat;    
}
.tottenham{
    background-image: url(https://www.sofascore.com/images/team-logo/football_33.png);
    
    background-repeat: no-repeat;    
}
.wolves{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3.png);
    
    background-repeat: no-repeat;    
}
.arsenal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_42.png);
    
    background-repeat: no-repeat;    
}
.burnley{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6.png);
    
    background-repeat: no-repeat;    
}
.southampton{
    background-image: url(https://www.sofascore.com/images/team-logo/football_45.png);
    
    background-repeat: no-repeat;    
}
.everton{
    background-image: url(https://www.sofascore.com/images/team-logo/football_48.png);
    
    background-repeat: no-repeat;    
}
.newcastle{
    background-image: url(https://www.sofascore.com/images/team-logo/football_39.png);
    
    background-repeat: no-repeat;    
}
.crystal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7.png);
    
    background-repeat: no-repeat;    
}
.brighton{
    background-image: url(https://www.sofascore.com/images/team-logo/football_30.png);
    
    background-repeat: no-repeat;    
}
.westham{
    background-image: url(https://www.sofascore.com/images/team-logo/football_37.png);
    
    background-repeat: no-repeat;    
}
.aston{
    background-image: url(https://www.sofascore.com/images/team-logo/football_40.png);
    
    background-repeat: no-repeat;    
}
.watford{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24.png);
    
    background-repeat: no-repeat;    
}
.norwich{
    background-image: url(https://www.sofascore.com/images/team-logo/football_263.png);
    
    background-repeat: no-repeat;    
}