.suda-rosario{
    background-image: url(https://api.sofascore.com/api/v1/team/3217/image);
    background-repeat: no-repeat;    
}
.suda-huachipato{
    background-image: url(https://api.sofascore.com/api/v1/team/3164/image);
    background-repeat: no-repeat;    
}
.suda-sanlorenzo{
    background-image: url(https://api.sofascore.com/api/v1/team/3217/image);
    background-repeat: no-repeat;    
}
.suda-doceoctubre{
    background-image: url(https://api.sofascore.com/api/v1/team/5989/image);
    background-repeat: no-repeat;    
}


.suda-independiente{
    background-image: url(https://api.sofascore.com/api/v1/team/3209/image);
    background-repeat: no-repeat;    
}
.suda-torque{
    background-image: url(https://api.sofascore.com/api/v1/team/174972/image);
    background-repeat: no-repeat;    
}
.suda-bahia{
    background-image: url(https://api.sofascore.com/api/v1/team/1955/image);
    background-repeat: no-repeat;    
}
.suda-guabira{
    background-image: url(https://api.sofascore.com/api/v1/team/47701/image);
    background-repeat: no-repeat;    
}


.suda-arsenal{
    background-image: url(https://api.sofascore.com/api/v1/team/3221/image);
    background-repeat: no-repeat;    
}
.suda-ceara{
    background-image: url(https://api.sofascore.com/api/v1/team/2001/image);
    background-repeat: no-repeat;    
}
.suda-bolivar{
    background-image: url(https://api.sofascore.com/api/v1/team/7059/image);
    background-repeat: no-repeat;    
}
.suda-wilstermann{
    background-image: url(https://api.sofascore.com/api/v1/team/7878/image);
    background-repeat: no-repeat;    
}


.suda-athletico{
    background-image: url(https://api.sofascore.com/api/v1/team/1967/image);
    background-repeat: no-repeat;    
}
.suda-melgar{
    background-image: url(https://api.sofascore.com/api/v1/team/2308/image);
    background-repeat: no-repeat;    
}
.suda-aucas{
    background-image: url(https://api.sofascore.com/api/v1/team/5249/image);
    background-repeat: no-repeat;    
}
.suda-metropolitanos{
    background-image: url(https://api.sofascore.com/api/v1/team/162480/image);
    background-repeat: no-repeat;    
}


.suda-penarol{
    background-image: url(https://api.sofascore.com/api/v1/team/3227/image);
    background-repeat: no-repeat;    
}
.suda-corinthians{
    background-image: url(https://api.sofascore.com/api/v1/team/1957/image);
    background-repeat: no-repeat;    
}
.suda-riverpe{
    background-image: url(https://api.sofascore.com/api/v1/team/90970/image);
    background-repeat: no-repeat;    
}
.suda-huancayo{
    background-image: url(https://api.sofascore.com/api/v1/team/33895/image);
    background-repeat: no-repeat;    
}


.suda-libertad{
    background-image: url(https://api.sofascore.com/api/v1/team/5996/image);
    background-repeat: no-repeat;    
}
.suda-goianiense{
    background-image: url(https://api.sofascore.com/api/v1/team/7314/image);
    background-repeat: no-repeat;    
}
.suda-newells{
    background-image: url(https://api.sofascore.com/api/v1/team/3212/image);
    background-repeat: no-repeat;    
}
.suda-palestino{
    background-image: url(https://api.sofascore.com/api/v1/team/3157/image);
    background-repeat: no-repeat;    
}


.suda-bragantino{
    background-image: url(https://api.sofascore.com/api/v1/team/1999/image);
    background-repeat: no-repeat;    
}
.suda-emelec{
    background-image: url(https://api.sofascore.com/api/v1/team/5255/image);
    background-repeat: no-repeat;    
}
.suda-talleres{
    background-image: url(https://api.sofascore.com/api/v1/team/3210/image);
    background-repeat: no-repeat;    
}
.suda-tolima{
    background-image: url(https://api.sofascore.com/api/v1/team/6111/image);
    background-repeat: no-repeat;    
}


.suda-gremio{
    background-image: url(https://api.sofascore.com/api/v1/team/5926/image);
    background-repeat: no-repeat;    
}
.suda-lanus{
    background-image: url(https://api.sofascore.com/api/v1/team/3218/image);
    background-repeat: no-repeat;    
}
.suda-equidad{
    background-image: url(https://api.sofascore.com/api/v1/team/6975/image);
    background-repeat: no-repeat;    
}
.suda-aragua{
    background-image: url(https://api.sofascore.com/api/v1/team/6228/image);
    background-repeat: no-repeat;    
}
