/* ESTE */
.bucks{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3410.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.raptors{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3433.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.celtics{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3422.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.heat{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3435.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.pacers{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3419.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.seven{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3420.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nets{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3436.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.magic{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3437.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.hornets{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3430.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.wizards{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3431.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bulls{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3409.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.knicks{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3421.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.pistons{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3424.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.hawks{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3423.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cavaliers{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3432.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
/* OESTE */
.lakers{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3427.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.clippers{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3425.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nuggets{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3417.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.rockets{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3412.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.thunder{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3418.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.jazz{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3434.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mavericks{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3411.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.blazers{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3414.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.grizzlies{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3415.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.suns{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3416.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.spurs{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3429.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.kings{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3413.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.pelicans{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_5539.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.timberwolves{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3426.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.warriors{
    background-image: url(https://www.sofascore.com/images/team-logo/basketball_3428.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
/* ACB ESPAÑA */
.acb-realmadrid{
    background-image:url(https://api.sofascore.com/api/v1/team/3540/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-iberostar{
    background-image:url(https://api.sofascore.com/api/v1/team/78043/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-barcelona{
    background-image:url(https://api.sofascore.com/api/v1/team/3543/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-baskonia{
    background-image:url(https://api.sofascore.com/api/v1/team/3553/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-unicaja{
    background-image:url(https://api.sofascore.com/api/v1/team/3556/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-burgos{
    background-image:url(https://api.sofascore.com/api/v1/team/207541/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-joventut{
    background-image:url(https://api.sofascore.com/api/v1/team/3544/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-ucam{
    background-image:url(https://api.sofascore.com/api/v1/team/6495/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-murcia{
    background-image:url(https://api.sofascore.com/api/v1/team/6495/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-manresa{
    background-image:url(https://api.sofascore.com/api/v1/team/3560/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-andorra{
    background-image:url(https://api.sofascore.com/api/v1/team/124534/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-valencia{
    background-image:url(https://api.sofascore.com/api/v1/team/3545/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-obradoiro{
    background-image:url(https://api.sofascore.com/api/v1/team/37171/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-estudiantes{
    background-image:url(https://api.sofascore.com/api/v1/team/3550/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-fuenlabrada{
    background-image:url(https://api.sofascore.com/api/v1/team/3552/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-zaragoza{
    background-image:url(https://api.sofascore.com/api/v1/team/25134/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-bilbao{
    background-image:url(https://api.sofascore.com/api/v1/team/5615/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-betis{
    background-image:url(https://api.sofascore.com/api/v1/team/3559/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-canaria{
    background-image:url(https://api.sofascore.com/api/v1/team/3554/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-delteco{
    background-image:url(https://api.sofascore.com/api/v1/team/6496/image);
    background-size:48px;
    background-repeat:no-repeat
}