/*BUNDESLIGA*/
.bielefeld{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2540.png);
    
    background-repeat: no-repeat;    
}
.bayern{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2672.png);
    
    background-repeat: no-repeat;    
}
.dortmund{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2673.png);
    
    background-repeat: no-repeat;    
}
.leipzig{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36360.png);
    
    background-repeat: no-repeat;    
}
.mgladbach{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2527.png);
    
    background-repeat: no-repeat;    
}
.leverkusen{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2681.png);
    
    background-repeat: no-repeat;    
}
.hoffenheim{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2569.png);
    
    background-repeat: no-repeat;    
}
.wolfsburg{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2524.png);
    
    background-repeat: no-repeat;    
}
.freiburg{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2538.png);
    
    background-repeat: no-repeat;    
}
.frankfurt{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2674.png);
    
    background-repeat: no-repeat;    
}
.hertha{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2528.png);
    
    background-repeat: no-repeat;    
}
.union{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2547.png);
    
    background-repeat: no-repeat;    
}
.schalke{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2530.png);
    
    background-repeat: no-repeat;    
}
.mainz{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2556.png);
    
    background-repeat: no-repeat;    
}
.koln{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2671.png);
    
    background-repeat: no-repeat;    
}
.augsburg{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2600.png);
    
    background-repeat: no-repeat;    
}
.bremen{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2534.png);
    
    background-repeat: no-repeat;    
}
.fortuna{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2588.png);
    
    background-repeat: no-repeat;    
}
.paderborn{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2561.png);
    
    background-repeat: no-repeat;    
}
.stuttgart{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2677.png);
    
    background-repeat: no-repeat;    
}

.holstein{
    background-image: url(https://api.sofascore.com/api/v1/team/2573/image);
    
    background-repeat: no-repeat;    
}