.ulsan{
    background-image: url(https://api.sofascore.com/api/v1/team/7653/image);
    
    background-repeat: no-repeat;    
}
.duhail{
    background-image: url(https://api.sofascore.com/api/v1/team/44441/image);
    
    background-repeat: no-repeat;    
}
.ahly{
    background-image: url(https://api.sofascore.com/api/v1/team/6910/image);
    
    background-repeat: no-repeat;    
}