.col-pasto{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6113.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-tolima{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6111.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-santafe{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6116.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-petrolera{
    background-image: url(https://www.sofascore.com/images/team-logo/football_89156.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-junior{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6105.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-nacional{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6106.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-caldas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6118.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-americacali{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6102.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-equidad{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6975.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-deportivocali{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6112.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-envigado{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6114.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-pereira{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6109.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-medellin{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6115.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-aguilas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_48244.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-bucamaranga{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6103.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-millonarios{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6117.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-jaguares{
    background-image: url(https://www.sofascore.com/images/team-logo/football_89370.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-cucuta{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6108.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-chico{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6107.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.col-patriotas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_61504.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
