.heracles{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/2038/150x150.png);
    background-repeat: no-repeat;    
}
.groningen{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/425/150x150.png);
    background-repeat: no-repeat;    
}
.utrecht{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/325/150x150.png);
    background-repeat: no-repeat;    
}
.zwolle{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/424/150x150.png);
    background-repeat: no-repeat;    
}
.fortuna{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/316/150x150.png);
    background-repeat: no-repeat;    
}
.venlo{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/876/150x150.png);
    background-repeat: no-repeat;    
}
.vitesse{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/232/150x150.png);
    background-repeat: no-repeat;    
}
.waalwijk{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/321/150x150.png);
    background-repeat: no-repeat;    
}
.twente{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/324/150x150.png);
    background-repeat: no-repeat;    
}
.heerenveen{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/318/150x150.png);
    background-repeat: no-repeat;    
}
.feyenoord{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/198/150x150.png);
    background-repeat: no-repeat;    
}
.psv{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/204/150x150.png);
    background-repeat: no-repeat;    
}
.willemii{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/207/150x150.png);
    background-repeat: no-repeat;    
}
.emmen{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/709/150x150.png);
    background-repeat: no-repeat;    
}
.ado{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/701/150x150.png);
    background-repeat: no-repeat;    
}
.sparta{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/323/150x150.png);
    background-repeat: no-repeat;    
}
.az{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/313/150x150.png);
    background-repeat: no-repeat;    
}
.ajax{
    background-image: url(https://eredivisie-images.s3.amazonaws.com/Eredivisie%20images/Eredivisie%20Badges/215/150x150.png);
    background-repeat: no-repeat;    
}