/*FPD*/
.saprissa{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6574.png);
    
    background-repeat: no-repeat;    
}
.herediano{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7045.png);
    
    background-repeat: no-repeat;    
}
.cartagines{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7044.png);
    
    background-repeat: no-repeat;    
}
.guadalupe{
    background-image: url(https://www.sofascore.com/images/team-logo/football_261695.png);
    
    background-repeat: no-repeat;    
}
.jicaral{
    background-image: url(https://www.sofascore.com/images/team-logo/football_261695.png);
    
    background-repeat: no-repeat;    
}
.sancarlos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7047.png);
    
    background-repeat: no-repeat;    
}
.sanjose{
    background-image: url(https://cdn.livesoccertv.com/images/teams/costa-rica/logos/sporting-san-jose.png);
    
    background-repeat: no-repeat;    
}
.grecia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_261677.png);
    
    background-repeat: no-repeat;    
}
.perezzeledon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6576.png);
    
    background-repeat: no-repeat;    
}
.santos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7048.png);
    
    background-repeat: no-repeat;    
}
.limon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_43255.png);
    
    background-repeat: no-repeat;    
}
.lau{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7738.png);
    
    background-repeat: no-repeat;    
}
.alajuelense{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6572.png);
    
    background-repeat: no-repeat;    
}
.sporting{
    background-image: url(https://api.sofascore.com/api/v1/team/262906/image);
    
    background-repeat: no-repeat;    
}