/*LALIGA*/
.realmadrid{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2829.png);
    
    background-repeat: no-repeat;    
}
.barcelona{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2817.png);
    
    background-repeat: no-repeat;    
}
.atletico{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2836.png);
    
    background-repeat: no-repeat;    
}
.sevilla{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2833.png);
    
    background-repeat: no-repeat;    
}
.villarreal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2819.png);
    
    background-repeat: no-repeat;    
}
.sociedad{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2824.png);
    
    background-repeat: no-repeat;    
}
.granada{
    background-image: url(https://www.sofascore.com/images/team-logo/football_33779.png);
    
    background-repeat: no-repeat;    
}
.getafe{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2859.png);
    
    background-repeat: no-repeat;    
}
.valencia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2828.png);
    
    background-repeat: no-repeat;    
}
.osasuna{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2820.png);
    
    background-repeat: no-repeat;    
}
.athletic{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2825.png);
    
    background-repeat: no-repeat;    
}
.levante{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2849.png);
    
    background-repeat: no-repeat;    
}
.valladolid{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2831.png);
    
    background-repeat: no-repeat;    
}
.eibar{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2839.png);
    
    background-repeat: no-repeat;    
}
.betis{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2816.png);
    
    background-repeat: no-repeat;    
}
.alaves{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2885.png);
    
    background-repeat: no-repeat;    
}
.celta{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2821.png);
    
    background-repeat: no-repeat;    
}
.leganes{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2845.png);
    
    background-repeat: no-repeat;    
}
.mallorca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2826.png);
    
    background-repeat: no-repeat;    
}
.espanyol{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2814.png);
    
    background-repeat: no-repeat;    
}
/*LALIGA2*/
.sabadell{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24335.png);
    
    background-repeat: no-repeat;    
}
.cartagena{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24329.png);
    
    background-repeat: no-repeat;    
}
.castellon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5067.png);
    
    background-repeat: no-repeat;    
}
.logrones{
    background-image: url(https://www.sofascore.com/images/team-logo/football_37057.png);
    
    background-repeat: no-repeat;    
}
.huesca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24265.png);
    
    background-repeat: no-repeat;    
}
.cadiz{
    background-image: url(https://www.sofascore.com/images/team-logo/football_4488.png);
    
    background-repeat: no-repeat;    
}
.zaragoza{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2815.png);
    
    background-repeat: no-repeat;    
}
.almeria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2858.png);
    
    background-repeat: no-repeat;    
}
.girona{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24264.png);
    
    background-repeat: no-repeat;    
}
.elche{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2846.png);
    
    background-repeat: no-repeat;    
}
.rayo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2818.png);
    
    background-repeat: no-repeat;    
}
.fuenlabrada{
    background-image: url(https://www.sofascore.com/images/team-logo/football_35097.png);
    
    background-repeat: no-repeat;    
}
.laspalmas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6577.png);
    
    background-repeat: no-repeat;    
}
.alcorcon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24322.png);
    
    background-repeat: no-repeat;    
}
.mirandes{
    background-image: url(https://www.sofascore.com/images/team-logo/football_35092.png);
    
    background-repeat: no-repeat;    
}
.tenerife{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2822.png);
    
    background-repeat: no-repeat;    
}
.sporting{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2852.png);
    
    background-repeat: no-repeat;    
}
.malaga{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2830.png);
    
    background-repeat: no-repeat;    
}
.oviedo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2851.png);
    
    background-repeat: no-repeat;    
}
.lugo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_24332.png);
    
    background-repeat: no-repeat;    
}
.albacete{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2848.png);
    
    background-repeat: no-repeat;    
}
.ponferradina{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6195.png);
    
    background-repeat: no-repeat;    
}
.deportivo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2832.png);
    
    background-repeat: no-repeat;    
}
.numancia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2855.png);
    
    background-repeat: no-repeat;    
}
.extremadura{
    background-image: url(https://www.sofascore.com/images/team-logo/football_43758.png);
    
    background-repeat: no-repeat;    
}
.racing{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2835.png);
    
    background-repeat: no-repeat;    
}