/*Uruguay*/
.nacionaluy{
    background-image: url(https://api.sofascore.com/api/v1/team/3230/image);
    background-repeat: no-repeat;    
}

.torque{
    background-image: url(https://api.sofascore.com/api/v1/team/174972/image);
    background-repeat: no-repeat;    
}

.rentistas{
    background-image: url(https://api.sofascore.com/api/v1/team/35189/image);
    background-repeat: no-repeat;    
}

.cerrolargo{
    background-image: url(https://api.sofascore.com/api/v1/team/25009/image);
    background-repeat: no-repeat;    
}

.wanderers{
    background-image: url(https://api.sofascore.com/api/v1/team/3240/image);
    background-repeat: no-repeat;    
}

.penarol{
    background-image: url(https://api.sofascore.com/api/v1/team/3227/image);
    background-repeat: no-repeat;    
}

.liverpool{
    background-image: url(https://api.sofascore.com/api/v1/team/6879/image);
    background-repeat: no-repeat;    
}

.defensor{
    background-image: url(https://api.sofascore.com/api/v1/team/3229/image);
    background-repeat: no-repeat;    
}

.riveruy{
    background-image: url(https://api.sofascore.com/api/v1/team/3237/image);
    background-repeat: no-repeat;    
}

.fenix{
    background-image: url(https://api.sofascore.com/api/v1/team/3223/image);
    background-repeat: no-repeat;    
}

.maldonado{
    background-image: url(https://api.sofascore.com/api/v1/team/3234/image);
    background-repeat: no-repeat;    
}

.progreso{
    background-image: url(https://api.sofascore.com/api/v1/team/3238/image);
    background-repeat: no-repeat;    
}

.boston{
    background-image: url(https://api.sofascore.com/api/v1/team/174970/image);
    background-repeat: no-repeat;    
}

.danubio{
    background-image: url(https://api.sofascore.com/api/v1/team/3228/image);
    background-repeat: no-repeat;    
}

.cerro{
    background-image: url(https://api.sofascore.com/api/v1/team/22011/image);
    background-repeat: no-repeat;    
}

.colonia{
    background-image: url(https://api.sofascore.com/api/v1/team/3235/image);
    background-repeat: no-repeat;    
}
