/*Paraguay*/
.cerroporteno{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5991.png);
    
    background-repeat: no-repeat;    
}
.olimpia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5997.png);
    
    background-repeat: no-repeat;    
}
.libertad{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5996.png);
    
    background-repeat: no-repeat;    
}
.guarani{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5994.png);
    
    background-repeat: no-repeat;    
}
.nacional{
    background-image: url(https://www.sofascore.com/images/team-logo/football_33001.png);
    
    background-repeat: no-repeat;    
}
.guairena{
    background-image: url(https://www.sofascore.com/images/team-logo/football_249194.png);
    
    background-repeat: no-repeat;    
}
.riverplate{
    background-image: url(https://www.sofascore.com/images/team-logo/football_90970.png);
    
    background-repeat: no-repeat;    
}
.docedeocutubre{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5989.png);
    
    background-repeat: no-repeat;    
}
.sportivoluqueno{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5998.png);
    
    background-repeat: no-repeat;    
}
.soldeamerica{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36439.png);
    
    background-repeat: no-repeat;    
}
.generaldiaz{
    background-image: url(https://www.sofascore.com/images/team-logo/football_87472.png);
    
    background-repeat: no-repeat;    
}
.sanlorenzopy{
    background-image: url(https://www.sofascore.com/images/team-logo/football_90972.png);
    
    background-repeat: no-repeat;    
}