/*Argentina*/
.boca{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3202.png);
    
    background-repeat: no-repeat;    
}
.river{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3211.png);
    
    background-repeat: no-repeat;    
}
.velez{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3208.png);
    
    background-repeat: no-repeat;    
}
.racing{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3215.png);
    
    background-repeat: no-repeat;    
}
.argentinos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3216.png);
    
    background-repeat: no-repeat;    
}
.defensa{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36839.png);
    
    background-repeat: no-repeat;    
}
.lanus{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3218.png);
    
    background-repeat: no-repeat;    
}
.sanlorenzo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3201.png);
    
    background-repeat: no-repeat;    
}
.rosario{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3217.png);
    
    background-repeat: no-repeat;    
}
.newells{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3212.png);
    
    background-repeat: no-repeat;    
}
.arsenal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3221.png);
    
    background-repeat: no-repeat;    
}
.talleres{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3210.png);
    
    background-repeat: no-repeat;    
}
.estudiantes{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3206.png);
    
    background-repeat: no-repeat;    
}
.independiente{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3209.png);
    
    background-repeat: no-repeat;    
}
.tucuman{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36833.png);
    
    background-repeat: no-repeat;    
}
.union{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3204.png);
    
    background-repeat: no-repeat;    
}
.banfield{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3219.png);
    
    background-repeat: no-repeat;    
}
.cordoba{
    background-image: url(https://www.sofascore.com/images/team-logo/football_65676.png);
    
    background-repeat: no-repeat;    
}
.gimnasia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3205.png);
    
    background-repeat: no-repeat;    
}
.patronato{
    background-image: url(https://www.sofascore.com/images/team-logo/football_43741.png);
    
    background-repeat: no-repeat;    
}
.huracan{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7629.png);
    
    background-repeat: no-repeat;    
}
.aldosivi{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36836.png);
    
    background-repeat: no-repeat;    
}
.colon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3207.png);
    
    background-repeat: no-repeat;    
}
.godoycruz{
    background-image: url(https://www.sofascore.com/images/team-logo/football_6074.png);
    
    background-repeat: no-repeat;    
}
