.tapatio{
    background-image: url(https://api.sofascore.com/api/v1/team/354925/image);
    background-repeat: no-repeat;    
}
.correcaminos{
    background-image: url(https://api.sofascore.com/api/v1/team/36526/image);
    background-repeat: no-repeat;    
}
.atlante{
    background-image: url(https://api.sofascore.com/api/v1/team/1943/image);
    background-repeat: no-repeat;    
}
.mineros{
    background-image: url(https://api.sofascore.com/api/v1/team/159946/image);
    background-repeat: no-repeat;    
}
.cimarrones{
    background-image: url(https://api.sofascore.com/api/v1/team/201623/image);
    background-repeat: no-repeat;    
}
.celaya{
    background-image: url(https://api.sofascore.com/api/v1/team/53121/image);
    background-repeat: no-repeat;    
}
.dorados{
    background-image: url(https://api.sofascore.com/api/v1/team/5291/image);
    background-repeat: no-repeat;    
}
.leonesnegros{
    background-image: url(https://api.sofascore.com/api/v1/team/36535/image);
    background-repeat: no-repeat;    
}
.tepatitlan{
    background-image: url(https://api.sofascore.com/api/v1/team/283681/image);
    background-repeat: no-repeat;    
}
.tlaxcala{
    background-image: url(https://api.sofascore.com/api/v1/team/274613/image);
    background-repeat: no-repeat;    
}
.alebrijes{
    background-image: url(https://api.sofascore.com/api/v1/team/109859/image);
    background-repeat: no-repeat;    
}
.atleticomorelia{
    background-image: url(https://api.sofascore.com/api/v1/team/36529/image);
    background-repeat: no-repeat;    
}
.tampico{
    background-image: url(https://api.sofascore.com/api/v1/team/227164/image);
    background-repeat: no-repeat;    
}
.madero{
    background-image: url(https://api.sofascore.com/api/v1/team/227164/image);
    background-repeat: no-repeat;    
}
.venados{
    background-image: url(https://api.sofascore.com/api/v1/team/36531/image);
    background-repeat: no-repeat;    
}
.pumastabasco{
    background-image: url(https://api.sofascore.com/api/v1/team/354927/image);
    background-repeat: no-repeat;    
}
.cancun{
    background-image: url(https://api.sofascore.com/api/v1/team/354926/image);
    background-repeat: no-repeat;    
}
