.deportivocali{
    background-image: url(https://api.sofascore.com/api/v1/team/6112/image);
    background-repeat: no-repeat;    
}
.junior{
    background-image: url(https://api.sofascore.com/api/v1/team/6105/image);
    background-repeat: no-repeat;    
}
.santafe{
    background-image: url(https://api.sofascore.com/api/v1/team/6116/image);
    background-repeat: no-repeat;    
}
.tolima{
    background-image: url(https://api.sofascore.com/api/v1/team/6111/image);
    background-repeat: no-repeat;    
}
.equidad{
    background-image: url(https://api.sofascore.com/api/v1/team/6975/image);
    background-repeat: no-repeat;    
}
.nacional{
    background-image: url(https://api.sofascore.com/api/v1/team/6106/image);
    background-repeat: no-repeat;    
}
.millonarios{
    background-image: url(https://api.sofascore.com/api/v1/team/6117/image);
    background-repeat: no-repeat;    
}
.independientemedellin{
    background-image: url(https://api.sofascore.com/api/v1/team/6115/image);
    background-repeat: no-repeat;    
}
.jaguares{
    background-image: url(https://api.sofascore.com/api/v1/team/89370/image);
    background-repeat: no-repeat;    
}
.pasto{
    background-image: url(https://api.sofascore.com/api/v1/team/6113/image);
    background-repeat: no-repeat;    
}
.caldas{
    background-image: url(https://api.sofascore.com/api/v1/team/6118/image);
    background-repeat: no-repeat;    
}
.americacali{
    background-image: url(https://api.sofascore.com/api/v1/team/6102/image);
    background-repeat: no-repeat;    
}
.rionegro{
    background-image: url(https://api.sofascore.com/api/v1/team/48244/image);
    background-repeat: no-repeat;    
}
.bucaramanga{
    background-image: url(https://api.sofascore.com/api/v1/team/6103/image);
    background-repeat: no-repeat;    
}
.patriotas{
    background-image: url(https://api.sofascore.com/api/v1/team/61504/image);
    background-repeat: no-repeat;    
}
.envigado{
    background-image: url(https://api.sofascore.com/api/v1/team/6114/image);
    background-repeat: no-repeat;    
}
.alianza{
    background-image: url(https://api.sofascore.com/api/v1/team/89156/image);
    background-repeat: no-repeat;    
}
.pereira{
    background-image: url(https://api.sofascore.com/api/v1/team/6109/image);
    background-repeat: no-repeat;    
}
.chico{
    background-image: url(https://api.sofascore.com/api/v1/team/6107/image);
    background-repeat: no-repeat;    
}
