/*Brasil*/
.internacionalbr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1966.png);
    
    background-repeat: no-repeat;    
}
.vascobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1974.png);
    
    background-repeat: no-repeat;    
}
.saopaulobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1981.png);
    
    background-repeat: no-repeat;    
}
.mineirobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1977.png);
    
    background-repeat: no-repeat;    
}
.palmeirasbr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1963.png);
    
    background-repeat: no-repeat;    
}
.santosbr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1968.png);
    
    background-repeat: no-repeat;    
}
.fluminensebr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1961.png);
    
    background-repeat: no-repeat;    
}
.bahiabr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1955.png);
    
    background-repeat: no-repeat;    
}
.gremiobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5926.png);
    
    background-repeat: no-repeat;    
}
.paranensebr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1967.png);
    
    background-repeat: no-repeat;    
}
.botafogobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1958.png);
    
    background-repeat: no-repeat;    
}
.corinthiansbr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1957.png);
    
    background-repeat: no-repeat;    
}
.bragantinobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1999.png);
    
    background-repeat: no-repeat;    
}
.fortalezabr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2020.png);
    
    background-repeat: no-repeat;    
}
.flamengobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_5981.png);
    
    background-repeat: no-repeat;    
}
.goiasbr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1960.png);
    
    background-repeat: no-repeat;    
}
.atleticobr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_7314.png);
    
    background-repeat: no-repeat;    
}
.recifebr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1959.png);
    
    background-repeat: no-repeat;    
}
.cearabr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2001.png);
    
    background-repeat: no-repeat;    
}
.coritibabr{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1982.png);
    
    background-repeat: no-repeat;    
}