.olimpia{
    background-image: url(https://www.fotmob.com/images/team/6336_small);
    
    background-repeat: no-repeat;    
}
.montreal{
    background-image: url(https://www.fotmob.com/images/team/161195_small);

    background-repeat: no-repeat;    
}
.tigres{
    background-image: url(https://www.fotmob.com/images/team/8561_small);

    background-repeat: no-repeat;    
}
.nycfc{
    background-image: url(https://www.fotmob.com/images/team/546238_small);

    background-repeat: no-repeat;    
}
.atlanta{
    background-image: url(https://www.fotmob.com/images/team/773958_small);

    background-repeat: no-repeat;    
}
.america{
    background-image: url(https://www.fotmob.com/images/team/6576_small);

    background-repeat: no-repeat;    
}
.lafc{
    background-image: url(https://www.fotmob.com/images/team/867280_small);

    background-repeat: no-repeat;    
}
.cruzazul{
    background-image: url(https://www.fotmob.com/images/team/6578_small);

    background-repeat: no-repeat;    
}