/*EFL*/
.tottenham{

    background-image: url(https://www.sofascore.com/images/team-logo/football_33.png);
    
    background-repeat: no-repeat;  
}
.city{
    background-image: url(https://www.sofascore.com/images/team-logo/football_17.png);
    
    background-repeat: no-repeat;    
}
.united{
    background-image: url(https://www.sofascore.com/images/team-logo/football_35.png);
    
    background-repeat: no-repeat;    
}