/*Chile*/
.ucatolica{
    background-image: url(https://api.sofascore.com/api/v1/team/3151/image);
    background-repeat: no-repeat;    
}
.ulacalera{
    background-image: url(https://api.sofascore.com/api/v1/team/48242/image);
    background-repeat: no-repeat;    
}
.espanola{
    background-image: url(https://api.sofascore.com/api/v1/team/3153/image);
    background-repeat: no-repeat;    
}
.palestino{
    background-image: url(https://api.sofascore.com/api/v1/team/3157/image);
    background-repeat: no-repeat;    
}
.antofagasta{
    background-image: url(https://api.sofascore.com/api/v1/team/5601/image);
    background-repeat: no-repeat;    
}
.huachipato{
    background-image: url(https://api.sofascore.com/api/v1/team/3164/image);
    background-repeat: no-repeat;    
}
.udechile{
    background-image: url(https://api.sofascore.com/api/v1/team/3161/image);
    background-repeat: no-repeat;    
}
.curico{
    background-image: url(https://api.sofascore.com/api/v1/team/33595/image);
    background-repeat: no-repeat;    
}
.ohiggins{
    background-image: url(https://api.sofascore.com/api/v1/team/3163/image);
    background-repeat: no-repeat;    
}
.evertoncl{
    background-image: url(https://api.sofascore.com/api/v1/team/5032/image);
    background-repeat: no-repeat;    
}
.wandererscl{
    background-image: url(https://api.sofascore.com/api/v1/team/3150/image);
    background-repeat: no-repeat;    
}
.serena{
    background-image: url(https://api.sofascore.com/api/v1/team/3150/image);
    background-repeat: no-repeat;    
}
.cobresal{
    background-image: url(https://api.sofascore.com/api/v1/team/3167/image);
    background-repeat: no-repeat;    
}
.udeconcepcion{
    background-image: url(https://api.sofascore.com/api/v1/team/5034/image);
    background-repeat: no-repeat;    
}
.audax{
    background-image: url(https://api.sofascore.com/api/v1/team/3162/image);
    background-repeat: no-repeat;    
}
.colocolo{
    background-image: url(https://api.sofascore.com/api/v1/team/3155/image);
    background-repeat: no-repeat;    
}
.iquique{
    background-image: url(https://api.sofascore.com/api/v1/team/33596/image);
    background-repeat: no-repeat;    
}
.coquimbo{
    background-image: url(https://api.sofascore.com/api/v1/team/3165/image);
    background-repeat: no-repeat;    
}