/*Paraguay*/
.octubre{
    background-image: url(https://api.sofascore.com/api/v1/team/5989/image);
    background-repeat: no-repeat;    
}
.nacionalpy{
    background-image: url(https://api.sofascore.com/api/v1/team/33001/image);
    background-repeat: no-repeat;    
}
.cerro{
    background-image: url(https://api.sofascore.com/api/v1/team/5991/image);
    background-repeat: no-repeat;    
}
.libertadpy{
    background-image: url(https://api.sofascore.com/api/v1/team/5996/image);
    background-repeat: no-repeat;    
}
.guarani{
    background-image: url(https://api.sofascore.com/api/v1/team/5994/image);
    background-repeat: no-repeat;    
}
.olimpiapy{
    background-image: url(https://api.sofascore.com/api/v1/team/5997/image);
    background-repeat: no-repeat;    
}
.sol{
    background-image: url(https://api.sofascore.com/api/v1/team/36439/image);
    background-repeat: no-repeat;    
}
.guairena{
    background-image: url(https://api.sofascore.com/api/v1/team/249194/image);
    background-repeat: no-repeat;    
}
.sanlorenzo{
    background-image: url(https://api.sofascore.com/api/v1/team/90972/image);
    background-repeat: no-repeat;    
}
.sportivo{
    background-image: url(https://api.sofascore.com/api/v1/team/5998/image);
    background-repeat: no-repeat;    
}
.riverpy{
    background-image: url(https://api.sofascore.com/api/v1/team/90970/image);
    background-repeat: no-repeat;    
}
.general{
    background-image: url(https://api.sofascore.com/api/v1/team/87472/image);
    background-repeat: no-repeat;    
}