/*LIGUE 1*/
.supercopafra{
    background-image: url(https://api.sofascore.com/api/v1/unique-tournament/339/image);
    background-repeat: no-repeat;
}
.stade{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1658.png);
    
    background-repeat: no-repeat;    
}
.angers{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1684.png);
    
    background-repeat: no-repeat;    
}
.monaco{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1653.png);
    
    background-repeat: no-repeat;    
}
.etienne{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1678.png);
    
    background-repeat: no-repeat;    
}
.dijon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1686.png);
    
    background-repeat: no-repeat;    
}
.bordeaux{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1645.png);
    
    background-repeat: no-repeat;    
}
.lorient{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1656.png);
    
    background-repeat: no-repeat;    
}
.metz{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1651.png);
    
    background-repeat: no-repeat;    
}
.nantes{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1647.png);
    
    background-repeat: no-repeat;    
}
.lille{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1643.png);
    
    background-repeat: no-repeat;    
}
.montpellier{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1642.png);
    
    background-repeat: no-repeat;    
}
.nice{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1661.png);
    
    background-repeat: no-repeat;    
}
.lyon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1649.png);
    
    background-repeat: no-repeat;    
}
.marseille{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1641.png);
    
    background-repeat: no-repeat;    
}
.nimes{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1663.png);
    
    background-repeat: no-repeat;    
}
.psg{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1644.png);
    
    background-repeat: no-repeat;    
}
.lens{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1648.png);
    
    background-repeat: no-repeat;    
}
.strasbourg{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1659.png);
    
    background-repeat: no-repeat;    
}
.brest{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1715.png);
    
    background-repeat: no-repeat;    
}
.reims{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1682.png);
    
    background-repeat: no-repeat;    
}
.rennes{
    background-image: url(https://www.sofascore.com/images/team-logo/football_1658.png);
    
    background-repeat: no-repeat;    
}