/*LNFP*/
.olimpia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_25358.png);
    
    background-repeat: no-repeat;    
}
.marathon{
    background-image: url(https://www.sofascore.com/images/team-logo/football_25355.png);
    
    background-repeat: no-repeat;    
}
.motagua{
    background-image: url(https://www.sofascore.com/images/team-logo/football_22047.png);
    
    background-repeat: no-repeat;    
}
.vida{
    background-image: url(https://www.sofascore.com/images/team-logo/football_42215.png);
    
    background-repeat: no-repeat;    
}
.lobos{
    background-image: url(https://www.sofascore.com/images/team-logo/football_261766.png);
    
    background-repeat: no-repeat;    
}
.realespana{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36404.png);
    
    background-repeat: no-repeat;    
}
.realdeminas{
    background-image: url(https://www.sofascore.com/images/team-logo/football_293026.png);
    
    background-repeat: no-repeat;    
}
.platense{
    background-image: url(https://www.sofascore.com/images/team-logo/football_42213.png);
    
    background-repeat: no-repeat;    
}
.realsociedad{
    background-image: url(https://api.sofascore.com/api/v1/team/76997/image);
    
    background-repeat: no-repeat;    
}
.hondurasprogreso{
    background-image: url(https://www.sofascore.com/images/team-logo/football_166204.png);
    
    background-repeat: no-repeat;    
}