/*SERIEA*/
.crotone{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2718.png);
    
    background-repeat: no-repeat;    
}
.juventus{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2687.png);
    
    background-repeat: no-repeat;    
}
.inter{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2697.png);
    
    background-repeat: no-repeat;    
}
.atalanta{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2686.png);
    
    background-repeat: no-repeat;    
}
.lazio{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2699.png);
    
    background-repeat: no-repeat;    
}
.roma{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2702.png);
    
    background-repeat: no-repeat;    
}
.milan{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2692.png);
    
    background-repeat: no-repeat;    
}
.napoli{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2714.png);
    
    background-repeat: no-repeat;    
}
.sassuolo{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2793.png);
    
    background-repeat: no-repeat;    
}
.verona{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2701.png);
    
    background-repeat: no-repeat;    
}
.fiorentina{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2693.png);
    
    background-repeat: no-repeat;    
}
.parma{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2690.png);
    
    background-repeat: no-repeat;    
}
.bologna{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2685.png);
    
    background-repeat: no-repeat;    
}
.udinese{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2695.png);
    
    background-repeat: no-repeat;    
}
.cagliari{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2719.png);
    
    background-repeat: no-repeat;    
}
.sampdoria{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2711.png);
    
    background-repeat: no-repeat;    
}
.torino{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2696.png);
    
    background-repeat: no-repeat;    
}
.genoa{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2713.png);
    
    background-repeat: no-repeat;    
}
.lecce{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2689.png);
    
    background-repeat: no-repeat;    
}
.brescia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2691.png);
    
    background-repeat: no-repeat;    
}
.spal{
    background-image: url(https://www.sofascore.com/images/team-logo/football_113755.png);
    
    background-repeat: no-repeat;    
}
.benevento{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2759.png);
    
    background-repeat: no-repeat;    
}
.spezia{
    background-image: url(https://www.sofascore.com/images/team-logo/football_2735.png);
    
    background-repeat: no-repeat;    
}
.empoli{
    background-image: url(https://api.sofascore.com/api/v1/team/2705/image);
    
    background-repeat: no-repeat;    
}