.suda-lanus{
    background-image: url(https://www.sofascore.com/images/team-logo/football_3218.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.suda-defensa{
    background-image: url(https://www.sofascore.com/images/team-logo/football_36839.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}