.ravens{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4413.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.falcons{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4393.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.packers{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4420.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.saints{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4425.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.sf49ers{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4389.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.patriots{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4424.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.chiefs{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4422.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.seahawks{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4430.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bills{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4414.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.texans{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4324.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.vikings{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4423.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.titans{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4431.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.eagles{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4428.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.rams{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4387.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.steelers{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4345.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cowboys{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4392.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bears{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4391.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.jets{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4427.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.colts{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4421.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.broncos{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4418.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.raiders{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4390.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.flacons{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4393.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.buccaneers{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4388.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.browns{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4417.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.jaguars{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4386.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cardinals{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4412.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.dolphins{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4287.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.chargers{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4429.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.panthers{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4415.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.giants{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4426.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.lions{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4419.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.washington{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4432.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bengals{
    background-image: url(https://www.sofascore.com/images/team-logo/american-football_4416.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
