/* AMERICAN LEAGUE */
.athletics{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3645.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.twins{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3649.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bayrays{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3653.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.yankees{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3654.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.whitesox{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3644.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.indians{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3650.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.astros{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3655.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.bluejays{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3642.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.orioles{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3652.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.tigers{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3648.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.royals{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3651.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mariners{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3641.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.rangers{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3647.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.redsox{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3646.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.angels{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_5929.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.dodgers{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3638.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cubs{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3627.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.padres{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3636.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.braves{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3656.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.marlins{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3639.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.cardianls{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3632.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.rockies{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3628.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.giants{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3634.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.brewers{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3630.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.phillies{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3635.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.mets{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3629.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.diamondbacks{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3640.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.nationals{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_5930.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.reds{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3633.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}
.pirates{
    background-image: url(https://www.sofascore.com/images/team-logo/baseball_3637.png);
    background-size: 48px;
    background-repeat: no-repeat;    
}