.acb-realmadrid{
    background-image:url(https://api.sofascore.com/api/v1/team/3540/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-iberostar{
    background-image:url(https://api.sofascore.com/api/v1/team/78043/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-barcelona{
    background-image:url(https://api.sofascore.com/api/v1/team/3543/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-baskonia{
    background-image:url(https://api.sofascore.com/api/v1/team/3553/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-unicaja{
    background-image:url(https://api.sofascore.com/api/v1/team/3556/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-burgos{
    background-image:url(https://api.sofascore.com/api/v1/team/207541/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-joventut{
    background-image:url(https://api.sofascore.com/api/v1/team/3544/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-ucam{
    background-image:url(https://api.sofascore.com/api/v1/team/6495/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-murcia{
    background-image:url(https://api.sofascore.com/api/v1/team/6495/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-manresa{
    background-image:url(https://api.sofascore.com/api/v1/team/3560/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-andorra{
    background-image:url(https://api.sofascore.com/api/v1/team/124534/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-valencia{
    background-image:url(https://api.sofascore.com/api/v1/team/3545/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-obradoiro{
    background-image:url(https://api.sofascore.com/api/v1/team/37171/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-estudiantes{
    background-image:url(https://api.sofascore.com/api/v1/team/3550/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-fuenlabrada{
    background-image:url(https://api.sofascore.com/api/v1/team/3552/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-zaragoza{
    background-image:url(https://api.sofascore.com/api/v1/team/25134/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-bilbao{
    background-image:url(https://api.sofascore.com/api/v1/team/5615/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-betis{
    background-image:url(https://api.sofascore.com/api/v1/team/3559/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-canaria{
    background-image:url(https://api.sofascore.com/api/v1/team/3554/image);
    background-size:48px;
    background-repeat:no-repeat
}
.acb-delteco{
    background-image:url(https://api.sofascore.com/api/v1/team/6496/image);
    background-size:48px;
    background-repeat:no-repeat
}