.cska{
    background-image:url(https://api.sofascore.com/api/v1/team/6663/image);
    background-size:48px;
    background-repeat:no-repeat
}
.barcelona{
    background-image:url(https://api.sofascore.com/api/v1/team/3543/image);
    background-size:48px;
    background-repeat:no-repeat
}
.realmadrid{
    background-image:url(https://api.sofascore.com/api/v1/team/3540/image);
    background-size:48px;
    background-repeat:no-repeat
}
.zalgiris{
    background-image:url(https://api.sofascore.com/api/v1/team/6662/image);
    background-size:48px;
    background-repeat:no-repeat
}
.bayern{
    background-image:url(https://api.sofascore.com/api/v1/team/26071/image);
    background-size:48px;
    background-repeat:no-repeat
}
.zenit{
    background-image:url(https://api.sofascore.com/api/v1/team/32426/image);
    background-size:48px;
    background-repeat:no-repeat
}
.olimpia{
    background-image:url(https://api.sofascore.com/api/v1/team/3580/image);
    background-size:48px;
    background-repeat:no-repeat
}
.valencia{
    background-image:url(https://api.sofascore.com/api/v1/team/3545/image);
    background-size:48px;
    background-repeat:no-repeat
}
.baskonia{
    background-image:url(https://api.sofascore.com/api/v1/team/3553/image);
    background-size:48px;
    background-repeat:no-repeat
}
.anadolu{
    background-image:url(https://api.sofascore.com/api/v1/team/3515/image);
    background-size:48px;
    background-repeat:no-repeat
}
.olympiacos{
    background-image:url(https://api.sofascore.com/api/v1/team/3501/image);
    background-size:48px;
    background-repeat:no-repeat
}
.maccabi{
    background-image:url(https://api.sofascore.com/api/v1/team/6655/image);
    background-size:48px;
    background-repeat:no-repeat
}
.fenerbahce{
    background-image:url(https://api.sofascore.com/api/v1/team/3514/image);
    background-size:48px;
    background-repeat:no-repeat
}
.alba{
    background-image:url(https://api.sofascore.com/api/v1/team/3516/image);
    background-size:48px;
    background-repeat:no-repeat
}
.crvena{
    background-image:url(https://api.sofascore.com/api/v1/team/57183/image);
    background-size:48px;
    background-repeat:no-repeat
}
.panathinaikos{
    background-image:url(https://api.sofascore.com/api/v1/team/3508/image);
    background-size:48px;
    background-repeat:no-repeat
}
.asvel{
    background-image:url(https://api.sofascore.com/api/v1/team/3536/image);
    background-size:48px;
    background-repeat:no-repeat
}
.khimki{
    background-image:url(https://api.sofascore.com/api/v1/team/6676/image);
    background-size:48px;
    background-repeat:no-repeat
}
